<button class="@($"btn btn-{Color} disabled")">
    @ChildContent
</button>

@code {
    [Parameter] public string Color { get; set; } = "primary";
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
