@using Sudoku.App.Helpers
@using Sudoku.App.Enums

@if (Board is not null)
{
    <table>
        @for (var i = 0; i < 9; i++)
        {
            <tr>
                @for (var j = 0; j < 9; j++)
                {
                    <td>
                        @Board[i, j].ToDigitString()
                    </td>
                }
            </tr>
        }
    </table>
}


@code {
    [Parameter] public SudokuBoard<SudokuDigit>? Board { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        if (Board is not null)
            return;
        
        Board = new SudokuBoard<SudokuDigit>(SudokuDigit.Empty);
    }
}