table {
    margin:1em auto;
}
td {
    height:30px;
    width:30px;
    border:1px solid black;
    text-align:center;
}

.digit {
    color: black;
}

.wrong-digit {
    color: red;
}

.fixed-digit {
    color: blue;
}

td:first-child {
    border-left:solid black;
}
td:nth-child(3n) {
    border-right:solid black ;
}
tr:first-child {
    border-top:solid black;
}
tr:nth-child(3n) td {
    border-bottom:solid black;
}