@page "/logout"
@using Microsoft.AspNetCore.Authentication.Cookies
@using Microsoft.AspNetCore.Authentication
@inject NavigationManager NavigationManager

<h3>Logging out...</h3>

@code {
    [CascadingParameter]
    public HttpContext? HttpContext { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        if (HttpContext is null)
        {
            NavigationManager.NavigateTo("/");
        }
        else
        {
            await HttpContext.SignOutAsync(CookieAuthenticationDefaults.AuthenticationScheme);
            NavigationManager.NavigateTo("/");
        }
    }
}
