@page "/sudoku/maker"
@inject ISudokuRepository SudokuRepository
@inject ISudokuService SudokuService
@attribute [Authorize]
@rendermode InteractiveServer

<div class="container">
    <h1 class="text-center">Sudoku Maker</h1>

    @switch (_solutions)
    {
        case Solutions.NoSolution:
            <Alert>No solutions</Alert>
            break;
        case Solutions.OneSolution:
            <Alert Color="success">One solution</Alert>
            break;
        case Solutions.MultipleSolutions:
        default:
            <Alert Color="warning">Multiple solutions</Alert>
            break;
    }
    
    @if (_boardSaved)
    {
        <Alert Color="success">Puzzle saved successfully</Alert>
    }

    <SudokuBoard Board="Board" OnCellValueChanged="HowManySolutions"/>
    
    <div class="text-center">
        <button class="btn btn-primary" @onclick="Save">Save</button>
    </div>
</div>


@code {

    [CascadingParameter]
    private Task<AuthenticationState>? AuthState { get; set; }
    private Solutions _solutions = Solutions.MultipleSolutions;
    
    private SudokuBoard<SudokuCell> Board { get; } = new();
    
    bool _boardSaved;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        for (var i = 0; i < 9; i++)
        {
            for (var j = 0; j < 9; j++)
            {
                Board[i, j] = new SudokuCell
                {
                    IsFixed = false,
                    Value = SudokuDigit.Empty
                };
            }
        }
    }

    private void HowManySolutions()
    {
        _solutions = SudokuService.SolutionCount(new SudokuBoard<SudokuDigit>(Board.Board.ToDigits()));
    }

    private async Task Save()
    {
        if (AuthState is null)
            return;
        
        var authState = await AuthState;
        var user = authState.User;
        var id = user.Claims.First(c => c.Type == ClaimTypes.NameIdentifier).Value;

        await SudokuRepository.CreateSudokuAsync(Board.Board.ToDigits(), _solutions, id);
        
        _boardSaved = true;
        StateHasChanged();
        await Task.Delay(TimeSpan.FromSeconds(5));
        _boardSaved = false;
    }

}